#suggest {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #CCCCFF;
    font-size: 90%;
    width: 200px;
}
#suggest div {
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
}
#suggest div.select{ /* keydown, keyup */
    color: #FFFFFF;
    background-color: #3366FF;
}
#suggest div.over{ /* mouse over */
    background-color: #99CCFF;
}
